
<h2 mat-dialog-title>Change Password</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" style="padding: 16px;">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"  />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" required />
      </mat-form-field>

      <div class="actions" style="text-align: right;">
        <button mat-button mat-dialog-close (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Change
        </button>
      </div>
    </form>