mat-card {
    margin: 1rem;
    padding: 1rem;
  }
li{
    font-size: large;
    font-weight: bold;
    list-style-type:none;

}
span{
    
    font-size: large;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: start;

}
h3{
    display: flex;
    justify-content: baseline;
    justify-content: center;
    font-weight: bold;
    gap: 50px;
}