
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url(/assets/pexels-bri-schneiter-28802-346529.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    :hover{
        background-color: lightblue;
    }
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: transparent;
    button{
        width: 100%;
    }
    
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .error-message {
    color: #f44336;
    margin-bottom: 1rem;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 1rem;
  }
  mat-card-header{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  mat-card-actions p a{
    margin-left: .5em;
  }
  a:hover{
    text-decoration: none;
    font-weight: bold;
    color:green;
  }