<div class="button">
    <div class="buttonicon">
        <button (click)="logpage()">redirect to login page</button>
    </div>
</div>
<div class="unauthorized-message-container">
    <div class="unauthorized-message">
      <marquee behavior="scroll" direction="left" scrollamount="20">
        <div class="marquee-content">
          <span class="warning-icon">⚠️</span>
          <span class="message-text">Unauthorized access!</span>
          <span class="message-detail">You don't have permission to view this page as you're not part of the company.</span>
          <span class="warning-icon">⚠️</span>
        </div>
       
      </marquee>
      <p>you need to be a part in company to access</p>
    </div>
</div>
  