<mat-toolbar color="primary">
    <span>Supply Chain System</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/warehouse" matTooltip="Inventory">Inventory</a>
    <a mat-button routerLink="/shipments" matTooltip="Shipments">Shipments</a>
    <a mat-button routerLink="/sales/products" matTooltip="Sales">Sales</a>
    <!-- <a mat-button routerLink="/sales/order">Order</a> -->
    <a mat-button routerLink="/sales/track" matTooltip="Track">Track</a>
    <a mat-button routerLink="/management/reports" matTooltip="Reports">Reports</a>
    <a mat-button routerLink="/management/suppliers" matTooltip="Suppliers">Suppliers</a>
</mat-toolbar>

<router-outlet></router-outlet>