
   <mat-card>
    <h1><mat-icon>inventory</mat-icon> Inventory Management</h1>
    <mat-card-content>
  
      <!-- Search and Add Product Button -->
      <div class="inventory-actions">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search Products</mat-label>
          <input matInput [(ngModel)]="searchTerm" placeholder="Enter name or category" >
          <button
          mat-icon-button
          matSuffix
          >
          <mat-icon>search</mat-icon>    </button>

        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="addNewProduct()" matTooltip="addNewProduct">
          <mat-icon>add</mat-icon> Add New Product
        </button>

        <button mat-button color="warn" (click)="toggleLowStock()" matTooltip="showLowStockOnly">
            <mat-icon>{{ showLowStockOnly() ? 'visibility_off' : 'visibility' }}</mat-icon>
            {{ showLowStockOnly() ? 'Show All' : 'Low Stock Only' }}
          </button>
          
      </div>

      
      <!-- Product Grid -->
      <div class="product-grid">
        <mat-card *ngFor="let product of filteredProducts" class="product-card" >
          <div class="row">
            <mat-card-title matTooltip="{{product.name}}">{{ product.name }}</mat-card-title>
          <mat-card-subtitle matTooltip="{{ product.category }}">Category: {{ product.category }}</mat-card-subtitle>
  
          <!-- <mat-card-content> -->
            <p matTooltip="Price: ₹{{ product.price }}">Price: ₹{{ product.price }}</p>
            <p *ngIf="product.quantityInStock!==0" [ngClass]="{ 'low-stock': product.quantityInStock <= product.reorderThreshold }" matTooltip="Stock: {{ product.quantityInStock }}">
              Stock: {{ product.quantityInStock }}
            </p>
            <p *ngIf="product.quantityInStock===0" [ngClass]="{ 'low-stock': product.quantityInStock <= product.reorderThreshold }" matTooltip="Stock: {{ product.quantityInStock }}">
              <span style="color:black;">Stock:</span> Out Of Stock
            </p>
          </div>
          <!-- </mat-card-content> -->
  
          <mat-card-actions class="card-buttons">
            <button mat-raised-button color="accent" (click)="updateStock(product)" matTooltip="updateStock">
                <mat-icon>upload</mat-icon> Update Stock
              </button>
            
            <button mat-raised-button color="primary" (click)="editProduct(product)" matTooltip="Edit Product">
              <mat-icon>edit</mat-icon> Edit
            </button>
  
            <button mat-raised-button color="warn" (click)="deleteProduct(product.productId)" matTooltip="deleteProduct">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
  
    </mat-card-content>
  </mat-card>
  